body {
  background-color: #eee!important;

  section.header {
    background-color: #ffe600;

    .search {
      padding: 0.5em 0;

      img {
        height: 34px;
      }

      .nav-search {
        position: relative;

        input {
          border-right: 0;
          color: #999;
          font-size: 18px;
        }

        button {
          background-color: #eee;
          background-clip: padding-box;
          border: 1px solid #ced4da;
          border-radius: 0 0.25rem 0.25rem 0;
          border-left: 0;

          img {
            height: 18px;
          }
        }
      }
    }
  }

  section.content {
    .breadcrumbs {
      p {
        padding: 14px 0;
        margin: 0;
      }
    }

    .item {
      transition: all .2s ease-out;
      padding: 16px;
      cursor: pointer;

      .city,
      .data,
      .image {
        padding: 0;
      }

      .image {
        padding: 0 16px;
      }

      img {
        width: 100%;
        border-radius: 4px;
      }

      p {
        padding: 0;
        margin: 0;

        &.description,
        &.location,
        &.price {
          text-decoration: none;
          color: inherit;
        }

        &.description:hover,
        &.location:hover,
        &.price:hover {
          text-decoration: none;
          color: inherit;
        }

        &.price {
          padding-bottom: 32px;
          font-size: 24px;
        }

        &.description {
          font-size: 18px;
        }

        &.location {
          font-size: 12px;
        }
      }
      &:hover{
        box-shadow: -1px 0px 8px 1px rgba(0, 0, 0, 0.1);
      }
    }
    .detail{
      p{
        color: #333;
        margin: 0;
        &.selled{
          font-size: 14px;
          margin-bottom: 16px;
        }
        &.title{
          font-size: 24px;
          font-weight: 700;
          padding-bottom: 32px;
        }
        &.price{
          font-size: 46px;
          padding-bottom: 32px;
        }

        &.descriptionTitle{
          font-size: 28px;
          color: #333;
        }
        &.descriptionText{}

      }
      button.buyBtn{
        width: 100%;
        background-color: #3483fa;
        color:white;
        border: none;
        border-radius: 4px;
        padding: 5px;
      }
    }
    .col-right{
      padding: 32px 32px 0 0;
    }
    .col-left{
      img{
        width: 100%;
      }
    }
  }

  section.footer {}
}
a:-webkit-any-link, a:-webkit-any-link:hover {
  text-decoration: none;
  color: inherit;
}
:focus {
  outline: -webkit-focus-ring-color auto 5px;
}

button:focus,
input:focus {
  border-color: transparent!important;
  box-shadow: none!important;
}

.bgWhite {
  background-color: white;
}
